{% extends 'bases/header_instructor.html' %}
{% block content %}

        <!-- Header Layout Content -->
                <div class="mdk-drawer-layout__content page ">

                    <div class="container-fluid page__container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="instructor-dashboard.html">Home</a></li>
                            <li class="breadcrumb-item active">Profile</li>
                        </ol>

                        <div class="text-center">
                            <a href="#"><img src="/static/assets/images/people/110/guy-8.jpg" alt="" class="rounded-circle"></a>
                            <h1 class="h2 mb-0 mt-1">{{ nom }}</h1>
                            <div class="badge badge-primary ">INSTRUCTEUR</div>
                            <hr>
                            <h5 class="text-muted mb-1">Instructor Rating</h5>
                            <!--<div class="rating">
                                <i class="material-icons text-success">star</i>
                                <i class="material-icons text-success">star</i>
                                <i class="material-icons text-success">star</i>
                                <i class="material-icons text-muted-light">star_border</i>
                                <i class="material-icons text-muted-light">star_border</i>
                            </div>-->
                        </div>
                        <hr>
                        <h4>Cours</h4>
                        <div class="card-columns">
                            {% for course in courses %}
                            <div class="card">
                                <div class="card-header">
                                    <div class="media align-items-center">
                                        <div class="media-left">
                                            <a href="instructor-take-course.html">
                                                <img src="{{course.image.url}}" alt="Card image cap" width="100" class="rounded">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="card-title mb-0"><a href="{{course.slug}}">{{ course.titre }}</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
    {% endblock content %}